moviepy==1.0.3
pocketsphinx>=0.1.15
vosk==0.3.42
self~=2020.12.3
setuptools==63.4.2
yaspin==2.2.0
pydub~=0.25.1
jiwer~=2.3.0
pandas~=1.4.3
deepspeech~=0.9.3
numpy==1.23.1
fpdf~=1.7.2
configparser~=5.2.0
pathlib~=1.0.1