SpeechRecognition>=3.8.1
moviepy==1.0.3
pocketsphinx>=0.1.15
python-magic-bin==0.4.14
vosk==0.3.42
path~=16.4.0
future~=0.18.2
self~=2020.12.3
tqdm==4.64.0
ffmpeg~=1.4
hachoir~=3.1.3
setuptools==62.6.0
yaspin~=2.1.0
pydub~=0.25.1